/* Existing styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#652B98, #C7168F, #C7168F, #EB4724, #F49A0E);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.speakers {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 1200px; /* Ensure the content doesn't stretch too wide */
    margin: 0 auto; /* Center align */
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 20px;
    padding: 20px;
}

.speaker-card {
    text-align: center;

}

.speaker-card:hover {

}

.speaker-card img {
    max-width: 100%; /* Ensure the image stays within its container */
    height: auto; /* Preserve aspect ratio */
    display: block;
    margin: 0 auto 10px;
}

.speakers-desc {
    margin-bottom: 20px;
    font-weight: 400;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .speakers-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust grid for smaller screens */
    }
}

/* Single column layout for small screens */
@media screen and (max-width: 427px), screen and (max-width: 375px), screen and (max-width: 320px) {
    .speakers-grid {
        grid-template-columns: 1fr; /* Single column layout */
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 50px;
    }
}
